---
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const categories = ["astro", "web", "design", "devops"];
  return categories.map((category) => ({
    params: { category },
  }));
}

const { category } = Astro.props;
---

<Layout>
  <div>
    <article>
      <h1 class="md:!text-5xl md:!leading-[1.2]">{category}</h1>
      <div></div>
    </article>
  </div>
</Layout>
