---
import { getCollection } from "astro:content";
import Card from "./Card.astro";

interface Props {
  query: Query;
}

export interface Query {
  tags: string[];
  sortBy: "date" | "title";
}

const { query } = Astro.props;

const blogPosts = await getCollection("notes");

const posts = blogPosts.filter((post: any) => {
  if (query.tags.length === 0) return true;
  return query.tags.some((tag) => post.data?.tags?.includes(tag));
});

const sortedPosts = posts.sort((a: any, b: any) => {
  if (query.sortBy === "date") {
    return (
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
    );
  }
  return a.data.title.localeCompare(b.data.title);
});
---

<div class="space-y-12 p-2">
  {
    sortedPosts && sortedPosts.at(0) && (
      <Card
        large
        imagePath={sortedPosts.at(0)?.data.image ?? ""}
        altText={sortedPosts.at(0)?.data.imageAlt ?? ""}
        name={sortedPosts.at(0)?.data.title ?? ""}
        date={sortedPosts.at(0)?.data.pubDate.toDateString() ?? ""}
        href={`/notes/${sortedPosts.at(0)?.data.slug}`}
        tags={sortedPosts.at(0)?.data.tags ?? []}
      />
    )
  }
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    {
      sortedPosts
        .slice(1)
        .map((post) => (
          <Card
            imagePath={post.data.image ?? ""}
            altText={post.data.imageAlt ?? ""}
            name={post.data.title}
            date={post.data.pubDate.toDateString()}
            href={`/notes/${post.data.slug}`}
            tags={post.data.tags ?? []}
          />
        ))
    }
  </div>
</div>
