---
import { getCollection } from "astro:content";
import Card from "./Card.astro";

interface Props {
  query: Query;
}

export interface Query {
  tags: string[];
  sortBy: "date" | "title";
  series?: string; // Optional series filter
}

const { query } = Astro.props;

const blogPosts = await getCollection("notes");

const posts = blogPosts.filter((post: any) => {
  if (query.tags.length === 0 && !query.series) return true;
  const matchesTags = query.tags.some((tag) => post.data?.tags?.includes(tag));
  const matchesSeries = query.series ? post.data?.series === query.series : true;
  return matchesTags && matchesSeries;
});

const sortedPosts = posts.sort((a: any, b: any) => {
  if (query.sortBy === "date") {
    return (
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
    );
  }
  return a.data.title.localeCompare(b.data.title);
});
---

<div class="space-y-12">
  {
    sortedPosts && sortedPosts.at(0) && (
      <Card
        imagePath={sortedPosts.at(0)?.data.image ?? ""}
        altText={sortedPosts.at(0)?.data.imageAlt ?? ""}
        name={sortedPosts.at(0)?.data.title ?? ""}
        date={sortedPosts.at(0)?.data.pubDate.toDateString() ?? ""}
        href={`/notes/${sortedPosts.at(0)?.data.slug}`}
        large
        tags={sortedPosts.at(0)?.data.tags ?? []}
      />
    )
  }
</div>
