---
import { Image } from "astro:assets";

interface Props {
  src: string;
  alt: string;
  ratio: number;
  footer?: string;
}

const images = import.meta.glob<{ default: ImageMetadata }>(
  `/src/assets/*.{jpeg,jpg,png,gif,webp}`
);

const { src, alt, ratio, footer } = Astro.props;

if (!images[src])
  throw new Error(
    `"${src}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`
  );
---

<div class="full-width-image-container">
  <Image
    src={images[src]()}
    alt={alt}
    style={`max-width: none; width: ${ratio * 100}vw;`}
  />
  {footer && <div class="image-footer">{footer}</div>}
</div>

<style>
  .full-width-image-container {
    text-align: center;
  }
  .image-footer {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #6b7280;
  }
</style>
