---
type Props = {
  href?: string;
  className: string;
  newTab?: boolean;
};

const { href, className } = Astro.props;
---

<a
  href={href ?? "#"}
  class={className}
  target={Astro.props.newTab ? "_blank" : "_self"}
  rel="noopener noreferrer"
>
  <slot />
</a>
