<site-theme-toggle>
  <button class="theme-toggle" type="button" aria-hidden="true" tabindex="-1">
    <span class="theme-toggle__label">Theme</span>
  </button>
</site-theme-toggle>

<script>
  import './widgets/theme-toggle.ts'
</script>
