<h2 id="tldr" class="text-xl font-bold text-emerald-700 dark:text-emerald-300">
  TL;DR
</h2>
<div
  class="p-4 mb-4 border-l-4 border-emerald-500 bg-emerald-50 dark:bg-emerald-900 dark:border-emerald-400"
>
  <div class="mt-2 text-emerald-700 dark:text-emerald-300 text-lg">
    <slot />
  </div>
</div>

<style>
  .dark .bg-emerald-50 {
    background-color: #064e3b;
  }
  .dark .text-emerald-700 {
    color: #d1fae5;
  }
</style>
