---
interface Props {
  hidden?: boolean;
}
---

<header
  class="fixed inset-x-0 top-0 h-16 bg-white/50 backdrop-blur-sm border-b border-white/10 z-50"
>
  <div class="h-full px-6 flex items-center justify-between">
    <nav>
      <ul class="flex items-center gap-6">
        <li id="Notes">
          <a
            href="/"
            class="text-sm font-medium text-black-200 hover:text-emerald-500"
            >Notes</a
          >
        </li>
        <ul>
          <li id="Projects">
            <a
              href="/projects"
              class="text-sm font-medium text-black-200 hover:text-emerald-500"
              >Projects</a
            >
          </li>
        </ul>
        <ul>
          <li id="CV">
            <a
              target="_blank"
              href="https://docs.google.com/document/d/14spp_gFkWt8IvGKWwnr76JQAjes2bc6dat1URXsJpao/edit?usp=sharing"
              class="text-sm font-medium text-black-200 hover:text-emerald-500"
              >CV</a
            >
          </li>
        </ul>
      </ul>
    </nav>
  </div>
</header>
