---
const { title } = Astro.props;
---

<header class="mb-8 gap-y-4 sm:gap-y-6 sm:mb-10">
  <h1 class="text-4xl font-bold text-font-color dark:text-font-invert">
    {title}
  </h1>
  <article
    class:list={[
      "prose prose-slate mb-8 break-words text-font-color dark:prose-invert sm:mb-10",
      "prose-h2:text-3xl prose-h3:text-2xl prose-h4:text-xl prose-h5:text-lg prose-h6:text-lg",
      "font-serif prose-headings:font-sans",
      "prose-hr:mx-auto prose-hr:w-1/2 sm:prose-code:text-wrap",
      "selection:text-white dark:selection:text-white",
    ]}
  >
    <slot />
  </article>
</header>
